<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.flowers.shopping.mapper.UserMapper">
    <select id="selectByPage" resultType="com.flowers.shopping.entity.User">
        select * from users
        <where>
            <if test="username != null">
                and username like '%${username}%'
            </if>
            <if test="email != null">
                and email like '%${email}%'
            </if>
            <if test="phone != null">
                and phone like '%${phone}%'
            </if>
            <if test="begin != null and end != null">
                and created_at between #{begin} and #{end}
            </if>
        </where>
    </select>

    <update id="update" >
        update users
        <set>
            <if test="username != null and username != ''">
                username = #{username},
            </if>
            <if test="email != null and email != ''">
                email = #{email},
            </if>
            <if test="phone != null and phone != ''">
                phone = #{phone},
            </if>
            <if test="updatedAt != null">
                updated_at = #{updatedAt},
            </if>
        </set>
        where id = #{id}
    </update>
</mapper>